.footer {
  max-width: 1440px;
  margin: 498px auto 0 auto;
  padding-bottom: 132px;
  position: relative;
}

.footer-bg {
  background-image: url('../../assets/backgrounds/grass-plus-bats.svg');
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 738px;
  bottom: 0;
  z-index: -1;
}

.social-icons-container {
  display: flex;
  gap: 18px;
  margin-top: 38px;
  justify-content: center;
}

.social-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

[lang='ar'] .social-icons-container {
  flex-direction: row-reverse;
}
