.app-button {
  border-radius: 16px;
  background-color: var(--main-color);

  color: #131313;
  display: flex;
  align-items: center;
  justify-content: center;

  word-break: break-all;
  cursor: pointer;
}
