.plans .container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  color: white;
}

.plans .cards {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 100px;
}

.plans .card {
  margin: 0 10px;
}

.plans .spider-web {
  position: absolute;
  background: url('../../assets/backgrounds/spider-web.svg') no-repeat;
  background-size: contain;
  overflow: hidden;
  z-index: -1;
  width: 782px;
  height: 738px;
  left: 0;
  top: -400px;
}

.plans .skull {
  position: absolute;
  background: url('../../assets/backgrounds/skull.svg') no-repeat;
  background-size: contain;
  overflow: hidden;
  z-index: -1;
  width: 152px;
  height: 635px;
  right: 0;
  bottom: 125px;
}
