.hero .container {
  margin: 0 auto;
  max-width: 1440px;
  height: 795px;
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 69.99%, #000015 100%),
    url('../../assets/backgrounds/hero-background.png') center / cover no-repeat,
    lightgray;
}

.hero .section-heading {
  margin-bottom: 475px;
}

.hero-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.hero-date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: #ffffff;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 34px;
  cursor: pointer;
}
