[lang='ar'] .card h2 {
  color: #f9f9f9;
  text-align: center;
  font-family: 'Digi Nozha2 Bold', sans-serif;
  font-size: 40px;
  text-transform: capitalize;
}

[lang='ar'] .card li {
  font-family: 'Digi Nozha Regular', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

[lang='ar'] .card .app-button {
  font-family: 'Digi Nozha2 Bold', sans-serif;
  font-size: 20px;
  line-height: 140%;
}
