.card {
  width: 344px;
  height: 464px;
  padding: 28px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  border-radius: 50px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    var(--gray-color, #333);
  transition: background-color 0.3s ease;
}

.card h2 {
  color: #f9f9f9;
  text-align: center;
  font-family: 'Jolly Lodger', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 140%;
  text-transform: capitalize;
}

.card .price {
  margin-bottom: 16px;
  color: #f9f9f9;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.card li {
  margin-bottom: 35px;
  color: #f9f9f9;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.card .app-button {
  color: #131313;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  padding: 16px 78px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 16px;
  background: var(--main-color);
  transition: background-color 0.3s ease;
}

.card:hover {
  outline: none;
  color: #292929;
  background-color: rgba(254, 119, 45, 0.65);
}
.card.keyboard-focus {
  outline: none;
  color: #292929;
  background-color: var(--main-color);
}

.card:hover button,
.card.keyboard-focus button {
  outline: none;
  background-color: #292929;
  color: #ffffff;
}

.card.keyboard-focus button:focus {
  transform: scale(110%);
  transition:
    transform 0.2s ease,
    background-color 0.3s ease;
}
