.header .container {
  margin: 0 auto;
  max-width: 1122px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #f5f5f5;
  padding-top: 48px;
  padding-bottom: 56px;
}

.header .party {
  color: #f5f5f5;
  font-family: 'Jolly Lodger', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
}

.header nav ul {
  display: flex;
  flex-direction: row;
}

.header nav ul li {
  margin-right: 24px;
  color: #f5f5f5;
  text-align: right;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150.4%;
  text-transform: capitalize;
}

.header .app-button {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  border-radius: 16px;
  background-color: var(--main-color);
  color: #292d32;
  cursor: pointer;
  padding: 16px 24px;
}

[lang='ar'] #change-locale {
  direction: ltr;
}

[lang='ar'] .header .party {
  font-family: 'Digi Nozha2 Bold', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}

[lang='ar'] .header nav ul li {
  font-family: 'Digi Nozha Regular', sans-serif;
  font-size: 24px;
  font-weight: 500;
}

[lang='ar'] .header .app-button {
  color: #292d32;
  text-align: center;
  font-family: 'Digi Nozha2 Bold', sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding: 8px 24px;
}
