@import 'destyle.css/destyle.css';

@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Montserrat:wght@700&family=Rubik:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Digi Nozha2 Bold';
  src:
    url('/fonts/Digi Nozha2 Bold.woff2') format('woff2'),
    url('/fonts/Digi Nozha2 Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Digi Nozha Regular';
  src:
    url('/fonts/Digi Nozha Regular.woff2') format('woff2'),
    url('/fonts/Digi Nozha Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-color: #000015;
  --main-color: #fe772d;
  --gray-color: #333333;
}

html {
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}

[lang='ar'] {
  font-family: 'Digi Nozha2 Bold', sans-serif;
}

.section-heading {
  color: var(--main-color);
  text-align: center;
  font-family: 'Jolly Lodger', sans-serif;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
}

[lang='ar'] .section-heading {
  font-family: 'Digi Nozha2 Bold', sans-serif;
  font-weight: 700;
}
