[lang='ar'] [data-i18n='about-subheading']::before {
  background-image: url('../../assets/icons/arrow-left.svg');
  margin-left: 50px;
}

[lang='ar'] [data-i18n='about-subheading']::after {
  background-image: url('../../assets/icons/arrow-right.svg');
  margin-right: 50px;
}

[lang='ar'] [data-i18n='about-text'] {
  font-family: 'Digi Nozha2 Bold', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
}

[lang='ar'] .checklist-item {
  align-items: flex-end;
}

[lang='ar'] .ticket-icon {
  border-left: initial;
  border-right: 2px solid #e6eaee;
}

[lang='ar'] .ticket-info {
  border-left: 2px solid #e6eaee;
  border-right: initial;
}

[lang='ar'] .ticket-info::after {
  left: 34%;
}

[lang='ar'] .checklist-item {
  font-family: 'Digi Nozha2 Bold', sans-serif;
  font-size: 32px;
  font-weight: 700;
}
