.about {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 52px;
}

.about .container {
  max-width: 976px;
  margin: 0 auto;
  position: relative;
}

[data-i18n='about-subheading'] {
  color: #fe2d2d;
  vertical-align: middle;
  margin-bottom: 48px;
}

[data-i18n='about-subheading']::before,
[data-i18n='about-subheading']::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
}

[data-i18n='about-subheading']::before {
  background-image: url('../../assets/icons/arrow-right.svg');
  margin-right: 20px;
}

[data-i18n='about-subheading']::after {
  background-image: url('../../assets/icons/arrow-left.svg');
  margin-left: 20px;
}

[data-i18n='about-text'] {
  margin-bottom: 48px;
  color: white;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
}

.ticket {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
  color: #e6eaee;
}

.ticket-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 84px;
  border-radius: 16px;
  border-top: 2px solid #e6eaee;
  border-bottom: 2px solid #e6eaee;
  border-left: 2px solid #e6eaee;
}

.ticket-icon img {
  width: 48px;
  height: 48px;
}

.ticket-info {
  display: flex;
  padding: 12px 24px;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  border-top: 2px solid #e6eaee;
  border-right: 2px solid #e6eaee;
  border-bottom: 2px solid #e6eaee;
  font-size: 20px;
  line-height: 140%;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
}

.ticket-info::after {
  content: '';
  position: absolute;
  right: 34%;
  top: 0;
  bottom: 0;
  border-left: 2px dashed rgba(255, 255, 255, 0.6);
  transform: translateX(-50%);
}

.about-ticket-place-container {
  display: flex;
  align-items: center;
}

[data-i18n='about-ticket-place'] {
  padding: 0 10px;
}

.checklist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #ffffff;
  font-size: 24px;
  line-height: 150%;
  text-transform: capitalize;
}

.checklist-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
  margin-left: 16px;
}

.checklist-item img {
  width: 32px;
  height: 32px;
  margin: 16px;
}

.spider {
  position: absolute;
  background: url('../../assets/backgrounds/spider.svg');
  z-index: 100;
  width: 60px;
  height: 528px;
  top: -180px;
  left: -80px;
}
