.gallery {
  position: relative;
}

.gallery .container {
  max-width: 1440px;
  margin: 0 auto;
}

.gallery::before {
  content: '';
  background-image: url('../../assets/backgrounds/hero-left-bats-group.svg');
  background-repeat: no-repeat;
  position: absolute;
  width: 606px;
  height: 100%;
  top: -225px;
  left: 31px;
  z-index: -1;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 48px 14px 100px;
  gap: 48px;
}

.gallery-image {
  width: 244px;
  height: 244px;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 16px;
  transition: transform 0.3s;
}

.gallery-image:hover {
  transform: scale(1.1);
  cursor: pointer;
}
